* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fffdea;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    border-bottom: 1px solid #333;
    font-size: clamp(1rem, 7vw, 2rem);
    margin: 0 auto;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    text-align: center;
    width: fit-content;
}

main {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}

p,
li,
input {
    font-size: 16px;
}

ul {
    margin-top: 1em;
    margin-left: 1em;
    display: relative;
}

li {
    margin-bottom: 1em;
}

li::marker {
    color: #cbb90b;
}

button {
    background: #fffef5;
    background: white;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
}

button {
    border: 1px solid grey;
    font-size: 1em;
    padding: 0.25em 0.5em 0.2em 0.5em;
    -webkit-appearance: none;
}

.removeBtn {
    cursor: pointer;
    float: right;
    margin-top: -2.5em;
    margin-bottom: 1em;
}

#addBtn {
    cursor: pointer;

    float: right;
    margin-top: -1.75em;
}

#listInput {
    background: #fffef6;
    border-radius: 4px;
    border: 1px solid grey;
    margin-top: 3em;
    padding: 0.25em 0.5em 0.2em 0.5em;
    margin-right: 1em;
    width: calc(100% - 62px);
    -webkit-appearance: none;
}

.list--item {
    margin-right: 25px;
    width: calc(80% - 30px);
}

footer {
    margin: 5em 0 2em 0;
    text-align: center;
}

footer p a {
    color: #333;
}

@media (max-width: 500px) {
    #listInput {
        width: 100%;
    }

    #addBtn {
        margin-top: 0.25em;
        width: 100%;
    }
}
